<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card error-card" style="width: 38rem;">
        <div class="card-body box">
            <h3 class="card-subtitle mb-2 mt-3 text-center">Wrong Flag!! Try again
            </h3>
            <div class="d-flex justify-content-center">
                <button class="back-btn mt-3" type="button" onclick="main_menu()"><span
                        class="card-link text-center">Back</span></button>
            </div>
        </div>
    </div>
</div>