<nav class="navbar bg">
    <div class="container-fluid">
      <a class="navbar-brand cipherGUYS" href="https://cipherguys.github.io/" target="_blank">
        <img src="/blue border.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        cipherGUYS
      </a>
      <button class="btn btn-outline-success" type="submit">Login</button>
    </div>
  </nav>


  <!-- Welcome -->
  <div class=" container align-items-center justify-content-between">
    <div class="container intro">
      <h1>
        &#128681; Capture the Flag &#128681;
      </h1>
      <span class="asthra">Asthra '22</span>
    </div>


    <!-- Flag List -->

    <div class="container flags">
      <div class="card" style="width: 12rem;">

        <a class="flag" href="#">
          <div class="card-body flag-1">
            <h5 class="card-title">Flag 1</h5>
          </div>
        </a>
      </div>

      <div class="card" style="width: 12rem;">

        <a class="flag" href="#">
          <div class="card-body flag-1">
            <h5 class="card-title">Flag 2</h5>
          </div>
        </a>
      </div>
    </div>