<nav class="navbar bg">
    <div class="container-fluid">
      <a class="navbar-brand cipherGUYS" href="https://cipherguys.github.io/" target="_blank">
        <img src="/cipherGUYS.png" alt="" width="36" height="30" class="logo d-inline-block align-text-top">

      </a>
      <p class="name">cipherGUYS</p>

      <button class="btn btn-outline-success login" type="submit">Login</button>
    </div>
  </nav>


  <!-- Welcome -->
  <div class=" container align-items-center justify-content-between">
    <div class="container intro">
      <h1>
        &#128681; Capture the Flag &#128681;
      </h1>
      <span class="asthra">Asthra '22</span>
      <p class="mt-5" id="press">
        &lt; Scroll down to hack &gt;
      </p>
    </div>


    <!-- Flag List -->

    <div class="container flags">

      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 1</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2 "></div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;"><a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 2</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 3</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 4</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 5</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 6</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 7</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 8</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 9</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 10</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 11</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 12</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 13</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 14</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 15</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 16</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 17</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 18</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 19</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 20</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 21</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 22</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 23</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 24</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center">
          <div class="card" style="width: 9rem;">
            <a class="flag" href="#">
              <div class="card-body flag-1">
                <h5 class="card-title">Flag 25</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>


    <!-- Copyright -->
    <a class="copyright" href="https://cipherguys.github.io/">
      <div class="copyright mt-5 mb-2">
        &copy; cipherGUYS
      </div>
    </a>