* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: monospace;
  background-color: rgb(26, 26, 26);
  color: #00ff00;
  /* overflow-y: hidden !important;
  overflow-x: hidden !important; */
}

.intro {
  display: block;
  text-align: center;
}

.intro1 {
  height: 90vh;
}

.cipherGUYS {
  font-size: 99%;
  color: #00ff00;
}

.cipherGUYS:hover {
  color: rgb(29, 153, 29);
}

.flag {
  text-decoration: none;
}

.btn {
  border-color: rgb(26, 26, 26);
  color: rgb(26, 26, 26);
}


.flag-1 {
  text-align: center !important;
}

.card {
  margin-top: 20px;
  border-color: #00ff00;
  border-radius: 0%;
  background-color: rgb(26, 26, 26);
}

.error-card {
  border-color: rgb(255, 39, 39);
}

.flags {
  margin-top: 100px;
}

.brand {
  margin-top: 500px !important;
}

.name {
  display: inline-block;
}

/* .intro {
  max-height: 100vh !important;
} */

.copyright {
  text-align: center;
  text-decoration: none;
  color: #00ff00;
}

.copyright:hover {
  color: #019101;
}

.box {
  border-color: #00ff00;
}

.flag-body {
  width: 40% !important;
  height: 10% !important;

}

.flag-title {
  color: #0D6EFD;
}

.hint {
  color: rgb(255, 39, 39);
}

.form-label {
  text-align: left !important;
}

.hint-content {
  color: #00ff00 !important;
}

.uname {
  color: rgb(255, 39, 39);
  display: block;
}

.form-ctrl {
  background-color: rgb(26, 26, 26);
  border-radius: 0%;
  border-color: #00ff00;
  display: block;
  color: #00ff00;
}

.input-flag {
  display: block;
}

.back-btn {
  background-color: rgb(26, 26, 26);
  color: #0D6EFD;
  border: none;

}

.submit-btn {
  background-color: rgb(26, 26, 26);
  color: #0D6EFD;
  border: none;
  display: inline;
}

.flag-card {
  cursor: pointer !important;
}

#q-box {
  padding-bottom: 180px;
}